/* 

Theme Name: Twenty Twenty One Child 

Template: twentytwentyone

*/

.new-release-page {
    max-width: 1200px;
    margin: 0 auto;
}

.new-comic {
    margin-bottom: 100px;
}

.new-comic h2 {
    text-align: center;
    font-size: 34px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.new-comic h4 {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 2px 0;
}

ul,
li {
    list-style: none;
}

img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}